<%= form_with(model: message, local: true) do |form| %>
  <%= form.hidden_field :room_id,value: room.id %>

  <div class="input-group mb2">
    <%= form.text_field :content, class: 'form-contro mr-2' %>
  </div>
    <%= form.submit 'add message', class: 'btn btn-primary mb-2'%>
<% end %>
