<div class="message mb-3 me ">
              <div class="content-container">
                <div class="content" >
                  <%= message.content %>
                </div>
                <div class="auther">
                  <%= message.user.username %>
                </div>
              </div>    
            </div>
            <br>
            <br>